body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text',
		'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
